<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eratart.feature.item.creation">

    <application>
        <activity
            android:name=".view.ItemCreationActivity"
            android:theme="@style/TransparentStatusActivity" />
    </application>
</manifest>