<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eratart.feature.onboarding">

    <application>
        <activity
            android:name=".view.OnboardingActivity"
            android:theme="@style/BaseActivityTheme" />
    </application>
</manifest>