<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eratart.feature.dialogs.list">

    <application>
        <activity
            android:name=".view.DialogsListActivity"
            android:theme="@style/BaseActivityTheme" />
    </application>
</manifest>